body {
	background: black;
}

h1 {
	color: yellow;
}

h2 {
	color: pink;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 300px;
	background: blue;
	padding: 20px;
}

.first {
	font-size: 16px;
	color: red;
	padding-bottom: 20px;
	text-align: center;
}

.second {
	font-size: 20px;
	color: white;
	padding-bottom: 20px;
	text-align: center;
}

.third {
	font-size: 16px;
	color: gray;
	text-align: center;
}